* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 28em;

}

@media (max-width: 390px) {}

body {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: #efae58;
    text-shadow: 4px 1px 7px black;
    -webkit-text-stroke: 1px #9a430466;
    text-stroke: 1px #9a430466;
    letter-spacing: 3px;
}

a {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: #efae58;
    text-shadow: 4px 1px 7px black;
    -webkit-text-stroke: 1px #9a430466;
    text-stroke: 1px #9a430466;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 500ms;


}

a:hover {
    transform: scale(1.1);

}

.play {
    position: relative;
    top: 227px;
    left: 124px;
    height: 150px;
    width: 150px;

    border-radius: 15%;
    backdrop-filter: blur(2px);
    animation: anim 3s linear infinite;
    background-image: url(/public/img/Cross.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #efae58;
}

.anim {

    position: absolute;
    z-index: 3;
    top: 160px;
    left: -9px;
    transform: scale(0.8);
}

.animNOt {
    display: none;
}








@keyframes anim {
    0% {
        transform: scale(1);


    }

    50% {
        transform: scale(1.2);

    }


    100% {
        transform: scale(1);


    }
}