.chests-main {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    width: 50%;

}

@media (max-width: 380px) {
    .chests-main {
        display: none;

    }

}

.chest__item {
    display: flex;
    flex-direction: column;

}

.chest__image {
    height: 40px;
    width: 40px;
}

.chest__number {
    position: relative;
    font-size: 22px;

}

.chest__x {
    margin-bottom: -7px;
    margin-top: -7px;
    font-size: 14px;

}